.header{
	margin-top: 35px;
}

.header a:HOVER {
	text-decoration: none;
}
.header .logoImg{
	margin-right: 10px;
}

.header .logo{
	color: #51A351 !important;
}

.navbar-inner{
	padding: 0 30px !important;
}

.navbar .logoImg {
	margin: 0 0 0 10px;
	vertical-align: top;
}

.navbar .logo{
	color: #51A351 !important;
	font-weight: bold;
}

.navbar .icon-question-sign{
	margin-top: 4px;
}

#nav-forms {
	padding-right: 100px;
}

#nav-forms > li {
	padding-left: 10px;
}

div.payload-header > div.payload-info {
	display: inline-block;
}
	
div.payload-header:not(:first-child) > div.payload-info {
	padding-top: 100px;
}

div.payload-info > img {
	display: inline-block; 
}

div.payload-info > .payload-login {
	font-weight: bold;
}
	
table.file tbody tr.ADDED td {
	background-color: #dff0d8;
}

table.file tbody tr.REMOVED td {
	background-color: #f2dede;
}

div.commitfile {
	margin-left: 80px;
	border: solid #eee 2px;
	border-radius: 5px;
	padding-top: 5px;
	margin-top: 10px;
	width: 900px;
}

#events {
	padding-top: 30px;
}

div.commitfile > span.filename {
	margin-left: 20px;
}

table.file {
	border-top: solid 2px #eee;
}

table.file > tbody > tr.line > td.line-content:hover {
	background-color: #eef;
}

table.file > tbody > tr.line > td.line-content {
	padding-left: 10px;
	white-space: pre-wrap;
	width: 855px;
	font-family: monospace;
	display: block;
}

table.file > tbody > tr.line.ADDED > td.line-content:hover {
	background-color: #efe;
}

table.file > tbody > tr.line.REMOVED > td.line-content:hover {
	background-color: #fee;
}

table.file > tbody > tr.line > td {
	border: none;
}

table.file > tbody > tr.line > td.line-index,table.file > tbody > tr.line > td.line-sinal {
	width: 15px;
	text-align: center;
	background-color: #feb;
	color: #cb8;
}


fieldset.commit > legend {
	margin-bottom: 0;
	padding-bottom: 0;
}

fieldset.commit > .commit-date {
	font-size: 10px;
	color: #888;
	padding: 0;
	margin: 0;
}

.socialNetworks{
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}